[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
isort = {extras = ["pipfile", "requirements"],version = "*"}
flake8 = "*"
pytest = "*"
pytest-testmon = "*"
pytest-cov = "*"
bump2version = "*"
mypy = "*"
pipenv-to-requirements = "*"
certifi = "*"

[packages]
toml = "*"
typer = "*"
pyli = {editable = true,path = "."}
requests = "*"
pyjwt = "*"
jwt = "*"
pydantic = "*"

[requires]
python_version = "3.8"
